<div data-controller="syncer" data-syncer-email-value=<%= current_user.email %>>
  <button data-action="click->syncer#sync">Full Sync</button>
  <div class="flex">
    Not yet implemented:
    <button disabled data-action="">Download All Cloud Notes to Browser Storage</button>
    <button disabled data-action="">Upload All Notes from Browser Storage to Cloud</button>
    <button disabled data-action="">Export Cloud Data</button>
    <button disabled data-action="">Delete All Cloud Data</button>
  </div>
</div>
