<h1>Import to your Library</h1>
<div data-controller="tab" class="tab-container">
  <div role="tablist">
    <button type="button" id="tab-one" role="tab" aria-selected="true">Add Bookmarks</button>
    <button type="button" id="tab-two" role="tab" tabindex="-1">Import Notes</button>
  </div>
  <div role="tabpanel" aria-labelledby="tab-one">
    <p>Paste URLs</p>
    <%= render WebsiteListComponent.new(placeholder: 'Add Bookmarks', submit_button: true) %>
  </div>
  <div data-controller="import" role="tabpanel" aria-labelledby="tab-two" hidden>
    <h1>Import Note files</h1>
    <div class="flex half-half">
      <div title="Not yet implemented" class="left">
        <label>Copy and Paste</label>
        <textarea disabled data-import-target="text" cols="30" rows="10"></textarea>
        <button disabled data-action="import#uploadText">Import Notes</button>
      </div>
      <div class="right">
        <label>Upload</label>
        <input type="file" data-import-target="file" accept=".json, .txt" data-action="import#uploadFile">
      </div>
    </div>
  </div>
</div>
