<% post, content = post_and_content if local_assigns.key?(:post_and_content) %>
<div data-controller="stackbiblio" data-stackbiblio-entry-value="<%= JSON.generate(post.as_json) %>">
  <%= content_tag :article, id: dom_id(post), class: 'thredded--post' do %>
    <%= render 'thredded/posts_common/header_with_topic', post: post %>    
      <%= content || render('thredded/posts/content', post: post) %>
    <span class="button-like" data-action="click->stackbiblio#export_post_from_forum_to_db">Save to Notes</span>
  <% end %>
</div>
